@import './variables.scss';
body{
    margin: 0;
    background-color: $dark-grey;
    min-height: 100vw;
}
body::-webkit-scrollbar,.table-container::-webkit-scrollbar,.catalog .content::-webkit-scrollbar {
    width: 5px;
}   
body::-webkit-scrollbar-thumb,.table-container::-webkit-scrollbar,.catalog .content::-webkit-scrollbar-thumb {
    background:$gold; 
}
.catalog .content::-webkit-scrollbar-thumb{
    background:$silver
}
.is-gold{
    color: $gold !important;
}
.notification{
    strong{
        color:white !important;
    }
}
.services {
    .box{
        height:220px;
    }
    .box:hover{
        color:$gold
    }
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 0 4px;
        img {
            margin-top: 8px;
            vertical-align: middle;
        }
    }    
}


@import './navbar.scss';
@import './hero.scss';
@import './shapes.scss';
@import './about.scss';
@import './work.scss';
@import './dashboard.scss';
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/components/menu.sass";