$tablet:630px;

$light-gold:#ffd384;
$gold: #daa014;
$transparent-gold:#daa014c5;
$silver: #afb3b2;  
$dark-grey: rgb(33, 33, 33);
$lighter-grey:rgb(45, 45, 45);
$shape-color:rgba(45, 45, 45,0.6);

//#EFF0EB;
//#ffd384

$body-color:$silver;
$background:$dark-grey;
$hr-background-color:$gold;

$navbar-background-color:$gold;
$navbar-item-color:$dark-grey;
$navbar-item-hover-background-color:$lighter-grey;
$navbar-item-hover-color:$gold;

$title-color:$gold;
$subtitle-color:$silver;

$notification-background-color:$gold;

$box-color:$dark-grey;
$box-background-color:$silver;

$card-color:$dark-grey;
$card-background-color:$gold;

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;